html{
  scroll-behavior: smooth;
}
header{
    position: relative;
  }
  header h1{ 
    top:25%;
    left: 10%;
    position: absolute;
    color:white;
    width: 30%;
    font-size: 3rem;
  }
  .img-sliderprincipal{
    width: 100%;
    border-bottom: 2px solid black;
  }

  nav{
    
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin: 0;   
    
    
  }
  nav > a{
    padding: auto;
    text-align: center;
    text-justify: center;
  }
  
  .iconUsina{
    width: 10rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    top:0;
    left: 10%;
  }
  .iconUsina img{
    height: 100%;
    
  }
  /*arrow Up*/
 
    /* style button tag nav*/

 
    button {
      --b: 3px;   /* border thickness */
      --s: .15em; /* size of the corner */
      --c: #BD5532;
      
      padding: calc(.05em + var(--s)) calc(.3em + var(--s));
      color: var(--c);
      --_p: var(--s);
      background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
      transition: .3s linear, color 0s, background-color 0s;
      outline: var(--b) solid #0000;
      outline-offset: .2em;
    }
    button:hover,
    button:focus-visible{
      --_p: 0px;
      outline-color: var(--c);
      outline-offset: .05em;
    }
    button:active {
      background: var(--c);
      color: #fff;
    }
  
    button {
      font-family: system-ui, sans-serif;
      font-weight: bold;
      font-size: 2rem;
      cursor: pointer;
      border: none;
      margin: .1em;
    }

  @media (max-width:700px){
    .navegacion{
      font-size:0.5rem;
  }
  header h1{
    font-size: 1.2rem;
  }
  nav{
    grid-template-columns: 50% 50%;    
  }
  button{
    font-size: 1rem;
  }
  }  


